{% load static %}
{% load django_browser_reload %}


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% comment %} {% block title %} {% endblock title %} {% endcomment %}
<title> </title>
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Typography CSS -->
<link rel="stylesheet" href="{% static 'css/typography.css' %}">
<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Full calendar -->
{% comment %} <link href='fullcalendar/core/main.css' rel='stylesheet' />
<link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
<link href='fullcalendar/timegrid/main.css' rel='stylesheet' />
<link href='fullcalendar/list/main.css' rel='stylesheet' /> {% endcomment %}

<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">


<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
