{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} <title> LIST PEOPLE | PMS | PROPERTY MANAGEMENT SYSTEM </title> {% endblock title %}

{% block content %}
   <!-- Page Content  -->
   <div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          {% comment %} <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Total Resources</h4>
                   </div>
                </div>
                <div class="iq-card-body">
                   <div class="table-responsive">
                      <table id="datatable" class="table table-striped table-bordered">
                         <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile No</th>
                                <th>People Type</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for person in people %}
                            <tr>
                                <td>{{ person.people_name }}</td>
                                <td>{{ person.mobile_no }}</td>
                                <td>{{ person.get_people_type_display }}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div> {% endcomment %}

          {% for person in people %}
          <div class="col-sm-6 col-md-6 col-lg-3 ">
            <div class="iq-card iq-card-block iq-card-stretch iq-card-height rounded-5">
               <div class="iq-card-body iq-box-relative ">
                  <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-primary">
                     <i class="fa fa-user-circle-o"></i>
                  </div>
                  <p class="text-primary font-weight-bold">{{ person.people_name }}</p>
                  <div class="d-flex align-items-center justify-content-between">
                     <h4 class="text-secondary"><b>Mobile No: {{ person.mobile_no }}</b></h4>
                     {% comment %} <div id="iq-chart-box1"></div> {% endcomment %}
                     <span class="text-primary"><i class="fa fa-circle mr-2"></i><b>{{ person.get_people_type_display }}</b></span>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
       </div>
    </div>
 </div>


{% endblock content %}